<%= render 'user/homes/header' %>
<%= javascript_pack_tag 'preview', 'data-turbolinks-track': 'reload' %>
<section class="inner">
  <i class="fa-solid fa-pen-to-square"></i>
	<h2 class="section-ttl">投稿編集</h2>
  <%= render 'form', post_image: @post_image, submit: '投稿' %>
</section>

