<%= render 'user/homes/header' %>
<%= javascript_pack_tag 'preview', 'data-turbolinks-track': 'reload' %>

<section class="inner">
<i class="fa-solid fa-square-plus" style= "font-size: 25px; ">新規投稿</i>
</section>
 <%= render 'user/post_images/form', post_image: @post_image, submit: '投稿' %>

