<%= render 'user/homes/header' %>
<%= javascript_pack_tag 'preview', 'data-turbolinks-track': 'reload' %>
<section class="inner">
  <i class="fa-thin fa-square-plus"></i>
	<h2 class="section-ttl">新規投稿</h2>
  <%= render 'form', post_image: @post_image, submit: '投稿' %>
</section>



