@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
//　@import '@fortawesome/fontawesome-free/scss/solid';
//　@import '@fortawesome/fontawesome-free/scss/regular';
//　@import '@fortawesome/fontawesome-free/scss/brands';
//　@import '@fortawesome/fontawesome-free/scss/v4-shims';

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: flex-end;
}

navbar-green {
  background-color: #00BB00;
}


img {
  width: 100px;
}

