<div class="box">
  <div class="header-sub">
    <ul>
      <li class="nav-item-sub" style= "list-style: none;">
        <%= link_to new_user_post_image_path, data: {"turbolinks" => false} do %>
          <i class="fa-solid fa-square-plus" style="color: white;">新規投稿</i>
        <% end %>
        <%= link_to root_path do %>
          <i class="fa-solid fa-house" style="color: white;">投稿一覧</i>
        <% end %>
        <% if current_user %>
        <%= link_to user_user_path(current_user.id) do %>
          <i class="fa-solid fa-user" style="color: white;">マイページ</i>
        <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
