<div class="nested-fields">
  <%= f.label :"サブカテゴリ" %>
  <%= f.text_field :name %>
  <%= f.select :category_id, Category.all.map { |c| [c.name, c.id] } %>
  <%= link_to_remove_association "サブカテゴリー削除", f ,class: "btn btn-danger btn-sm" %>
</div>