
<h1>ユーザー一覧</h1>

<table>
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <% if user.image.present? %>
  			  <td>
  			    <%= link_to admin_user_path(user.id) do%>
  			    <%= image_tag user.image %>
  			    <% end %>
  			    </td>
			    <% end %>
          <td><%= user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>