.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* 画面の高さに合わせる */
}

h3 {
  position: absolute;
  left: 300px;
  top: 130px;
  bottom: 73%;
  border-bottom: 1px solid #DDDDDD;
  width: 50%;
}

.form-group {
  margin-bottom: 1rem;
  margin-left: 4rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem; /* 余白を追加 */
}

.form-group label[for=file-input] {
  margin-top: 0rem; /* ラベルを下に移動 */
  width: 100%;
}

.push-container {
  display: flex;
  align-items: center;
}

.push {
  flex: 1;
  margin-right: 16px; /* 適宜調整 */
}

.preview-image {
  flex: 1;
}

.preview-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}


.form-group label {
  width: 20%; /* labelの幅を調整 */
  text-align: left; /* labelを左寄せ */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="file"] {
  width: 60%; /* fieldの幅を調整 */
}
/* プロフィール画像に余白を追加 */

.password-fields {
  display: flex; /* flexboxを使用 */
  flex-wrap: wrap; /* 折り返しを設定 */
  width: 100%;
}

.password-fields > div {
  width: 91%; /* fieldの幅を80%にする */
  margin-bottom: 1rem;
  margin-left: 0.6rem;
}

.password-fields label {
  width: 18%; /* labelをフル幅にする */
  text-align: left; /* labelを左寄せ */
}

.confirmation-fields {
  padding-left: 7rem;
  width: 91%;
}

.confirmation-fields input[type="password"] {
  width: 98%;
}
