.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* 画面の高さに合わせる */
}

.registration-title {
  position: absolute;
  left: 520px;
  top: 130px;
  bottom: 480px;
  border-bottom: 1px solid #DDDDDD;
  width: 420px;
  margin-bottom: 3rem; /* スペースを追加 */
}

.space {
  margin-top: 50px;
}

.form-group {
  margin-left: 5px;
}

.push-container {
  padding-left: 140px;
}

.form-group label[for=file-input] {
  margin-top: 2rem; /* ラベルを下に移動 */
  width: 230px;
  text-align: left; /* labelを左寄せ */
  display: block;
}


#preview {
  width: 100px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 250px;
}

.push {
  flex: 1;
  margin-left: 1rem; /* 適宜調整 */
}

.preview-image {
  position: absolute;
  left: 800px;
  bottom: 420px;
}

.preview-image label {
  margin-top: 1rem;
}

.form-group label {
  width: 250px; /* labelの幅を調整 */
  text-align: left; /* labelを左寄せ */
  margin-right: 2rem; /* 右にスペースを追加 */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="file"] {
  width: 400px; /* fieldの幅を調整 */
   /* 左にスペースを追加 */
  margin-bottom: 1rem;
  margin-left: 1rem;
}


.password-fields {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.btn-success {
  width: 150px;
}

.actions-registration {
  position: absolute;
  left: 650px;
  top: 630px;
}