.user-session-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #DDDDDD;
  width: 400px;
  margin-left: 470px;

}

.form-session {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 10vh;
}

.field-session {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.field-session label {
  margin-left: 460px;
  width: 130px;
}

.field-session input {
  width: 18%;
  margin-right: 40%;
}

.actions-session {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-right: 100px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  width: 130px;
  height: -10px;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:active {
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-orange {
  background-color: orange !important;
  color: #FFF;
  border: none;
  padding: 8px 24px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 593px;
  border-radius: 4px;
}

.btn-orange:hover {
  background-color: darkorange;
}

.btn-orange:active {
  background-color: orange;
}

.btn-orange:focus {
  box-shadow: 0 0 0 2px rgba(255, 165, 0, 0.5);
}