.comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comment-row {
  width: 100%;
  max-width: 600px; /* 任意の幅に設定してください */
}

.comment-post-title {
  width: 350px;
  max-width: 350px;
  padding-bottom: 5px;
  margin-left: 150px;
  font-size: 24px;
  font-weight: bold;
}

.comment-post-title p::first-letter {
  border-left: 6px solid #000000;
}

.slick-slide img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-left: 150px;
}

.slick-track{ /* 追加 */
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  .slick-loading & {
    visibility: hidden;
  }
}

.comment-post-category {
  margin-left: 160px;
}

.comment-post-image {
   .slick-slide img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 130px;
  }
}

.comment-post-single {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.comment-slick-image {
  width: 300px;
	height: 300px;
	object-fit: cover;
}



.comment-img{
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.comment-post-date {
  width: 600px;
  padding-left: 370px;
  border-bottom: 1px solid #C0C0C0;
  margin-bottom: 25px;
  color: #C0C0C0;
}

.comment-center {
  text-align: center;
  margin-left: 300px;
}

.card {
  width: 450px;
  margin-top: 10px; /* カードの間隔を調整 */
  margin-left: 70px;
}

.card-body {

}

.text-center {
  text-align: center;
}

.slick-dots li button:before{
	font-size: 60px!important;
}

.back-show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  display: inline-block;
  padding: 7px 30px;
  margin-top: 30px;
  color: white;
  background-color: #00CC00;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
}

.back-button i {
  margin-right: 8px;
}
