.home-item {
  margin-left: 75%;
  width: 100%;
}

.post-item {
  display: flex;
  align-items: center;
  justify-content: center; /* add this line */
  margin-bottom: 20px;
  padding-top: 20px;
  margin-left: 40px;
  width: 100%;
}

.post-image {
  /* remove align-items: center; */
  flex-basis: 30%;
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.post-title {
  margin-left: 20px; /* reduce this value to center the title */
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-text {
  /* remove flex-basis: 80%; */
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.post-details h2,
.post-details p {
  margin: 0;
  width: 100%;
}

.tag-container {
  position: absolute;
  top: 27%;
  right: 80%;
  width: 200px;
  padding: 20px;
}

.post-container {
  position: absolute;
  top: 27%;
  left: 80%;
  width: 200px;
  padding: 20px;
}

.post-page {
  margin-bottom: 40px;
  margin-left: 50px;
}