.homes-item {
  margin-left: 75%;
  width: 500px;
}

.home-post-item {
  display: flex;
  align-items: center;
  justify-content: center; /* add this line */
  margin-bottom: 20px;
  padding-top: 20px;
  margin-left: 40px;
  width: 500px;
}

.home-post-image {
  /* remove align-items: center; */
  flex-basis: 30%;
  margin-left: 20px;
}

.home-post-image img {
  /* remove align-items: center; */
  width: 100px;
  height: 100px;
}


.home-post-title {
  margin-left: 20px; /* reduce this value to center the title */
  width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-post-text {
  /* remove flex-basis: 80%; */
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.post-details h2,
.post-details p {
  margin: 0;
  width: 500px;
}

.home-tag-container {
  position: absolute;
  top: 200px;
  right: 1120px;
  width: 200px;
  padding: 20px;
}

.home-post-container {
  position: absolute;
  top: 200px;
  left: 1120px;
  width: 200px;
  padding: 20px;
}

.home-post-page {
  margin-bottom: 40px;
  margin-left: 50px;
}