.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center; /* 中央寄せにする */
  align-items: center;
  flex-wrap: wrap;
  width: 50%; /* 左側50%にする */
}

.flex img {
  width: 300px;
  height: 300px;
}

.post-image-show {
  display: flex;
  flex-direction: row;
}

.post-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 200px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-comment {
  margin-top: 10px; /* 余白を持たせるため */
}

.container img {
  max-width: 100%;
  height: auto;
}

.user-image {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-image img {
  margin-right: 10px;
}

.tag {
  display: flex;
  margin-bottom: 10px;
}

.tag li {
  margin-right: 5px;
  color: #385185;
}

.post-likes {
  margin-top: 20px; /* 上部に20pxの余白を追加 */
}

.post-likes .like-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.post-likes .like-icon-wrapper .like-count {
  margin-left: 5px;
}

.post-text-show {
  margin-bottom: 10px;
}

.comments {
  margin-bottom: 10px;
}
