.post-image-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-image-show-row {
  width: 50%;
}

.col-9 {
  display: flex;
  align-items: center;
  justify-content: center; /* 中央揃えにする */
  flex-direction: column;
  width: 800px;
  margin-left: 85px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
  border-bottom: 2px solid #ccc;
  width: 100%; /* 幅を100%にする */
}

.user-image {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  padding-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}

.user-image img {
  margin-bottom: 5px;
  height: 90px;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.tag-name {
  margin-right: 10px;
  width: 100px;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: row;
}

.flex .prev-btn, .flex .next-btn {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle; /* 垂直方向の中央揃え */
}

.flex .prev-btn {
  margin-right: 0px; /* 右側のマージンを0にする */
}

.flex img {
  display: block;
  width: 500px;
  height: 300px;
}

.flex img:first-child {
  display: block;
}

.post-title-show {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  border-bottom: 2px solid #000011;
  text-align: center;
  width: 150%;
}

.post-text-show {
  font-size: 18px;
  margin-top: 50px;
  border: 3px solid #ccc;
  padding: 20px;
}

.post-date {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 60%;
}

.post-comment {
  margin-top: 20px;
}

.comment {
  margin-top: 10px;
  font-size: 16px;
}