.container-user-show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.users-show {
  margin-top: 50px;
  width: 100%;
  max-width: 800px;
}

.customer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.customer-image {
  margin-top: 100px;
}

.customer-image img {
max-width: 150px;
max-height: 90px;
border-radius: 50%;
}

.customer-edit {
margin-top: 10px;
}

.customer-name {
margin-top: 10px;
text-align: center;
display: flex; /* 追加 */
}

.customer-name h5 {
margin-right: 10px; /* 追加 */
}

.flex-customer {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
margin-bottom: 90px;
}

.section {
margin-bottom: 30px;
}

.sectionHeader {
text-align: center;
width: 300px;
text-overflow: ellipsis;
white-space: nowrap;
margin-left: 25px;
border-bottom: 1px solid #DDDDDD;
}

.users-likes-theme {
  width: 230px;
  margin-bottom: 65px;
  margin-top: 55px;
  margin-left: 600px;
  border-bottom: 2px solid #DDDDDD;
  position: relative; /* 親要素を基準にするためにposition: relative;を追加 */
}

.users-likes-theme::after {
  content: '';
  position: absolute;
  bottom: -2px; /* border-bottomの位置を左に移動させる */
  left: -65px; /* border-bottomの位置を左に移動させる */
  width: 70px; /* 要素の幅と同じ */
  height: 2px;
  background-color: #DDDDDD;
}

.users-item-like {
  margin-left: 290px;
  width: 500px;
  margin-bottom: 40px;
}

.users-likes-page {
  margin-left: 260px;
  margin-bottom: 20px;
}





/* 要素を中央に配置 */
.inner-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #DDDDDD;
  width: 420px;
  margin-left: 450px;
}

/* フォームの各要素を縦方向に整列 */
.field-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-left: 570px;
}

.push-edit {
  margin-left: 600px;
  margin-top: 30px;
}

.actions-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 120px;
  margin-top: 20px;
}

.field-edit input[type="file"] {
  margin-left: 200px;
  margin-top: 30px;
}

.field-edit label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-right: 40px;
  margin-top: 30px
}

/* 退会ボタンを中央に移動 */
.action-delete-edit {
  display: flex;
  justify-content: center;
  margin-right: 110px;
  margin-top: 20px;
}