.container-user-show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.users-show {
  margin-top: 50px;
  width: 100%;
  max-width: 800px;
}

.customer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.customer-image {
  margin-top: 100px;
}

.customer-image img {
max-width: 150px;
max-height: 90px;
border-radius: 50%;
}

.customer-edit {
margin-top: 10px;
}

.customer-name {
margin-top: 10px;
text-align: center;
display: flex; /* 追加 */
}

.customer-name h5 {
margin-right: 10px; /* 追加 */
}

.flex-customer {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
margin-bottom: 90px;
}

.section {
margin-bottom: 30px;
}

.sectionHeader {
text-align: center;
width: 100%;
text-overflow: ellipsis;
white-space: nowrap;
margin-left: 30px;
}

.users-likes-theme {
  width: 260px;
  margin-bottom: 65px;
  margin-top: 55px;
  margin-left: 640px;
  border-bottom: 2px solid #DDDDDD;
  position: relative; /* 親要素を基準にするためにposition: relative;を追加 */
}

.users-likes-theme::after {
  content: '';
  position: absolute;
  bottom: -2px; /* border-bottomの位置を左に移動させる */
  left: -65px; /* border-bottomの位置を左に移動させる */
  width: 70px; /* 要素の幅と同じ */
  height: 2px;
  background-color: #DDDDDD;
}

.users-item-like {
  margin-left: 210px;
  width: 500px;
  margin-bottom: 40px;
}

.users-likes-page {
  margin-left: 260px;
  margin-bottom: 20px;
}